.navbar {
	margin-bottom: 0;
}
.navbar-brand {
	font-family: 'Dancing Script', Arial, sans-serif;
	font-size: 50px;
	text-shadow: 4px 4px 4px #333;	
}

.showcase {
	background: url(../images/shareinspire4.jpeg) no-repeat 0 -150px;
	height: 650px;
	padding: 20px 0px;

	h1 {
		font-family: 'Great Vibes', Arial, sans-serif;
		font-size: 60px;
		text-align: center;
		margin-top: 10px;
		color: #ddd;
		text-shadow: 4px 4px 4px #111;
	}

	p {
		font-style: italic;
		font-weight: bold;
		color: #ddd;
		margin-left: 5px;
	}

	.slogan {
		background-color: rgba(200, 200, 200, 0.5);
		padding: 10px;
	}
}

.margin-top {
	margin-top: 20px;
}

footer {
	background-color: $main-color;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

#header {
	background-color: #dce0e1;
}

div.dash-box {
	text-align: center;
}

a.view-all-link {
	color: #fff;
}

span.profile-icon {
	font-size: 120px;
	color: #ccc;	
}

img.profile-image {
	width: 125px;
}

img#algolia-logo {
	width: 120px;
}

a.link-underline {
	text-decoration: underline;
}

div.cookie-consent {
    background-color: purple;
    padding: 10px 0;
    font-weight: bold;
    margin-bottom: 10px;
}

button.cookie-consent__agree {
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    padding: 5px 20px;
}
