// Custom
$main-color: #40575a;
$custom-secondary-color: #F9DC5C;

$theme-colors: (
  "custom": $main-color,
  "custom-secondary": $custom-secondary-color
);

$navbar-brand-padding-y: 0;
$navbar-dark-color: rgba($custom-secondary-color, .5);
$navbar-dark-hover-color: $custom-secondary-color;
$navbar-dark-active-color: $custom-secondary-color;
$navbar-dark-disabled-color: rgba($custom-secondary-color, .25);

$card-cap-bg: $custom-secondary-color;
